# Clave de Google Gemini
GOOGLE_API_KEY=COLOQUE_AQUI_SU_API_KEY

# Modelos
GEMINI_MODEL=gemini-3.5-flash-lite
GEMINI_VISION_MODEL=gemini-3.5-flash-lite
GEMINI_EMBEDDING_MODEL=gemini-embedding-2

# Observabilidad con Arize Phoenix
PHOENIX_ENABLED=true
PHOENIX_PROJECT_NAME=mesa-ayuda-rrhh-patito
PHOENIX_COLLECTOR_ENDPOINT=http://127.0.0.1:6006/v1/traces
PHOENIX_PROTOCOL=http/protobuf
